* {
  margin:0;
  padding:0;
}
body {
  padding:20px;
}
p {
  position: relative;
  width:240px;
  background-color:#44abe2;
  border:2px solid #004989;
  text-align:center;
}

h3 { padding:20px 0 10px;}
h3:first-child { padding:0px 0 10px; }